* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
  --primary-color: #8B0000;
  --secondary-color: #FFA07A;
}

hr {
  margin: 10px 5px;
  border: 1px solid rgb(190, 190, 190, 0.5);
}

button {
  max-width: 140px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid black;
}

button.primary {
  background-color: var(--primary-color);
  color: white;
}

button.secondary {
  background-color: var(--secondary-color);
}

