* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
  --primary-color: rgb(172, 0, 143);
  --secondary-color: rgb(50, 150, 230);
}

html {
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  height: 100%;
}



